@charset "UTF-8";
*						{ margin:0; padding:0 }
body					{ font-family: '맑은 고딕' 돋움; font-size:0.8em; color:#333 }

.upload_tbl	{ 
        margin:10px auto; 
        border:1px solid #333; 
        border-collapse:collapse;
        border-left-width:0; 
        border-right-width:0;
        width: 60%; 
        
}
             
/* 테이블 로우 기본 설정*/
.upload_tbl th, .upload_tbl td	{ border:1px solid #333; padding:8px; border-left-width:0; border-right-width:0  } 

.upload_tbl th				{ 
        background-color:#999; 
        font-size:1.1em; 
        color:#fff; 
        border-top-width:2px; 
        border-bottom-width:2px ;
        text-align: center;
}

.upload_tbl td				{ border-style:dotted }
.upload_tbl tr.even			{ background-color:#E8ECF6  }

.upload_tbl tr:hover, .upload_tbl tr.even:hover 	{ background-color:#fc6; cursor:pointer }
.upload_tbl .bordnum {
    width: 5%;
}
.upload_tbl .borddate{
    width: 25%;
}
.content{
    margin-top: 5%;
}
.writebutton{
    background-color: #E8ECF6;
    border-style:none;
    width: 100px;
    height: 40px;
    text-align: center;
    float: right;
    margin-right: 20%;
    margin-top: 1.5em;
    font-size: 15px;
    
}



/*****************************/
/* Styling Header Image Menu */
/*****************************/
/*모블로고 */
#top-header img{ 
	width:170px;
	height:80px;
	position: relative;
	left:150px;

}

input img-button{
  	background: url("https://image.flaticon.com/icons/svg/968/968564.svg ") no-repeat;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
/*큰 배경 이미지*/
#header-image-menu{ 
    top: 0px; 
    position: relative;
} 
  
#header-image-menu img{ 
    width: 80%;
    height: 0%; 
    margin: none; 
    padding: none; 
    border:none;
} 

/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{ 
	position: relative;
	right: 60px;
    float: right; 
    margin: 5px; 
} 

#menu ul{ 
    text-align: center; 
    float: right; 
    margin: none; 
    background: white;
} 
      
#menu li{ 
    display: inline-block; 
    padding: none; 
    margin: none; 
} 
      
#menu li a, #menu li span{ 
    display: inline-block; 
    padding: 0 13px; 
    text-decoration: none; 
    font-weight: 600; 
    text-transform: uppercase; 
    line-height: 60px; 
} 
      
#menu li a{ 
    font-size: 20px;
    color: rgb(049,096,152); 
} 
      
#menu li:hover a, #menu li span{ 
    background: #FFF; 
    color: #0074D9; 
    border-left: 1px solid #0074D9; 
    text-decoration: none; 
    
}

/**********************************/
/* Styling Main content Section 1 */
/**********************************/
#welcome 
{    overflow: hidden; 
    width: 1000px; 
    margin: 0px auto; 
} 
          
#welcome .title{ 
    margin-top: 20px; 
    padding: 20px; 
    text-align: center; 
} 
  
#welcome p{ 
    margin-bottom: 40px; 
    text-align: center; 
} 

/*****************************************/
/*     Styling Main Content Section 3    */
/*****************************************/
  
#section-2{ 
    overflow: hidden; 
    padding-top: 5em; 
    border-top: 1px solid rgba(0, 0, 0, 0.2); 
    text-align: center; 
} 
  
.image 
{ 
    display: inline-block; 
    border: none;
    border-radius: 5px; 
} 
      
/*.image img 
{
	
    display: block; 

} 
*/
      
.image-full 
{ 
    display: block; 
    width: 140px;
    height: 140px; 
    margin: 0 0 3em 0; 
} 
      
.img-title{ 
    display: block; 
    padding-bottom: 1em; 
    font-size: 1em; 
    color: rgba(0, 0, 0, 0.6); 
} 
  
/* Add fixed width for each column and 
   align text to center */
#column1, 
#column2, 
#column3
{ 
    width: 282px; 
    text-align: center;
    float: left; 
    margin-right: 50px; 
    position: relative;
    left: 330px;
} 
      

      
/*button*/

.button {
	position: relative;
	right:70px;
	margin-top: 20px;
    text-decoration: none; 
    text-align: center; 
    display: inline-block; 
    font-size: 18px; 
    position:relative;
    background-color: #81BEF7;  
    color: white;  
    border: 2px solid #81BEF7;
    padding: 16px 32px; 
    margin: 4px 2px; 
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s; 
    cursor: pointer; 
} 
      
.button:hover { 
    background-color: white; 
    color: #58ACFA; 
} 